# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal

# Environment variables
.env
*.env

# VS Code settings
.vscode/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Backup files
*.bak
*.swp

# Media & Static files (optional for production)
media/
staticfiles/

# macOS / Linux / Windows junk
.DS_Store
Thumbs.db

# Virtual environment
venv/
env/
ENV/
.venv/

# Pytest / Coverage
.coverage
htmlcov/
.tox/
.pytest_cache/
